<h1 class="title">Cursos</h1>
<a href="manage" class="new-course-btn"><button>Inserir novo Curso</button></a>

@if(coursesList.length > 1){
<table class="table">
    <thead>
          <tr>
            <th scope="col">&nbsp;</th>
            <th scope="col">Imagem</th>
            <th scope="col">Nome</th>
            <th scope="col">Nível</th>
            <th scope="col">Preço</th>
            <th scope="col">Ações</th>
        </tr>
        </thead>
    @for(course of coursesList; track course.id){
        <tbody>
          <tr>
            <th scope="row"></th>
            <td><img src="{{ course.img }}" alt="{{ course.name }}" width="50"></td>
            <td>{{ course.name }}</td>
            <td>{{ course.level }}</td>
            <td>{{ course.price }}</td>
            <td>
                <button class="edit-btn" (click)="EditCourse(course)">Editar</button>
                <button class="delete-btn" (click)="DeleteCourse(course)">Excluir</button>
            </td>
          </tr>
        </tbody>
    }
</table>
}@else {
    <p>Não foram encontrados cursos</p>
}