footer h6{
    font-size: x-large;
}
.store{
    width: 120px;
    margin-top: 5px;
}
footer section a{
    color: #fff;
    text-decoration: none;
}
.rodape{
    text-align: center;
    border-top: 1px dotted #fff;
    padding-top: 5px;
}
.rodape span{
    font-family: cursive;
}

@media screen and (max-width: 700px){
    footer {
        zoom: 0.6;
        padding: 30px 0px 10px 10px !important;
    }
    
}

@media screen and (max-width: 400px){
    footer {
        zoom: 0.4;
    }
    
}