<footer class="text-light p-5 mt-3">
    <div class="d-flex justify-content-between">
        <a href="" class="ms-5 ps-1 text-light">Veja Nosso Portífólio</a>
        <span class="d-flex gap-2 pe-5 align-items-center">
            <label for="">Receba nossas novidades e promoções no seu email:</label>
            <input type="text" name="" id="">
            <button>Cadastrar</button>
        </span>
    </div>
    <section class="d-flex justify-content-between m-5">
        <div class="d-flex flex-column gap-2">
            <h6 >Saiba Mais</h6>
            <a href="">Institucional</a>
            <a href="">Trabalhe conosco</a>
            <span class="d-flex flex-column">
                <img src="../../../assets/playstore.png" alt="" class="store">
                <img src="../../../assets/appstore.png" alt="" class="store">
            </span>
        </div>
        <div class="d-flex flex-column gap-3">
            <h6>Atendimento</h6>
            <span><i class="bi bi-telephone me-3"></i>379916407161</span>
            <span><i class="bi bi-whatsapp me-3"></i>{{telefone}}</span>
            <span>{{email}}</span>
        </div>
        <div class="d-flex flex-column gap-3 w-25">
            <h6>Plano de fidelidade</h6>
            <span>Assine nosso plano anual</span>
            <span class="d-flex gap-3">
                <a href="">Cadastre-se já</a>
            </span>
        </div>
    </section>
    <div class="rodape">
        Desenvolvido por: <span>Equipe Wunderbar</span>
    </div>
</footer>