<!-- header.component.html -->
<header class="header__container" style="margin-bottom: 2rem">
  <nav class="navbar fixed-top" style="height:4rem; background-color: blueviolet; padding-left: 1rem; padding-right: 1rem">
    <div class="container-fluid">
      <a class="navbar-brand" href="#" style="color: whitesmoke">WUNDERBAR Courses</a>
      <a href="login" class="text-light">Login</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
        <span class="fas fa-shopping-cart"></span>
      </button>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header m-3" style="display: flex; flex-direction: column">
          <h5 class="offcanvas-title  fs-3" id="offcanvasNavbarLabel">Shopping Cart</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          <ul class="w-100">
            <li class="d-flex justify-content-around" *ngFor="let item of course"><span class="w-50">{{ item.course.name }} - Qty: {{ item.quantity }}</span>
              <button (click)="incrementQuantity(item.course.id)" class="botoes me-3">+</button> <button (click)="removeItem(item.course.id)" class="botoes">-</button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>
