<form [formGroup]="courseForm" class="course-form">
  <div class="form-group">
      <label for="name">Nome</label>
      <input type="text" class="form-control" id="name" formControlName="name">
  </div>
  <div class="form-group">
      <label for="level">Nível</label>
      <input type="text" class="form-control" id="level" formControlName="level">
  </div>
  <div class="form-group">
      <label for="img">Link Imagem</label>
      <input type="text" class="form-control" id="img" formControlName="img">
  </div>
  <div class="form-group">
      <label for="price">Preço</label>
      <input type="text" class="form-control" id="price" formControlName="price">
  </div>
  <button type="submit" class="btn btn-primary" (click)="submitForm()">Cadastrar</button>
</form>
